body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
}

h1 {
    color: #2c3e50;
}

.card {
    background: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px #ccc;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #2980b9;
}

.fraud {
    color: red;
    font-weight: bold;
}

.normal {
    color: green;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid gray;
}

th, td {
    padding: 10px;
}
