<!DOCTYPE html>
<html>
<head>

<title>Fraud Detection Production Dashboard</title>

<link rel="stylesheet" href="/static/style.css">

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/dashboard.js"></script>

</head>

<body>
<div class="navbar">
    <h2>Fraud Detection System</h2>
    <span class="badge"> By Pratik ✔</span>
</div>
<h1>Fraud Detection Dashboard</h1>
  


<div class="card">

<form method="post" action="/predict">

Amount:
<input type="number" name="amount" required><br><br>

Old Balance Org:
<input type="number" name="oldbalanceOrg" required><br><br>

New Balance Orig:
<input type="number" name="newbalanceOrig" required><br><br>

Old Balance Dest:
<input type="number" name="oldbalanceDest" required><br><br>

New Balance Dest:
<input type="number" name="newbalanceDest" required><br><br>

<button type="submit">Predict</button>

</form>

</div>


{% if prediction %}

<div class="card">

<h2>Prediction Result</h2>

<p class="{{ 'fraud' if prediction.result=='Fraud' else 'normal' }}">
Fraud: {{ prediction.result }} |
Probability: {{ prediction.probability }}%
</p>

<canvas id="probChart"></canvas>

</div>

<script>

createProbabilityChart({{ prediction.probability }})

</script>

{% endif %}


<div class="card">

<h2>Realtime Prediction History</h2>

<canvas id="historyChart"></canvas>

</div>


<div class="card">

<h2>Prediction Table</h2>

<table>

<tr>
<th>Amount</th>
<th>Result</th>
<th>Probability</th>
</tr>

{% for item in history %}

<tr>
<td>{{ item.amount }}</td>
<td>{{ item.result }}</td>
<td>{{ item.probability }}%</td>
</tr>

{% endfor %}

</table>

</div>
<footer class="footer">
    <p>© 2026 Fraud Detection MLOps Platform</p>
    <p>Built by <strong>Pratik Sawant</strong> | DevOps Engineer</p>
</footer>
</body>
</html>
