name: Train Build Push Deploy

on:
  push:
    branches: [ main ]

  workflow_dispatch:


jobs:

  train-build-push:

    runs-on: ubuntu-latest


    steps:

    - name: Checkout code
      uses: actions/checkout@v3


    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: "3.10"


    - name: Install dependencies
      run: |
        pip install -r requirements.txt


    - name: Train model
      run: |
        python training/train.py


    - name: Verify model exists
      run: |
        ls -l model


    - name: Login DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}


    - name: Build Docker image
      run: |
        docker build -t ${{ secrets.DOCKER_USERNAME }}/fraud-detection:latest .


    - name: Push Docker image
      run: |
        docker push ${{ secrets.DOCKER_USERNAME }}/fraud-detection:latest
